<launch>
    <!-- 实验节点 -->
    <node pkg="bobac3_audio" type="nav_node" name="nav" output="screen"/>

    <!-- 打开语音采集节点 -->
    <node name="voice_collect" pkg="robot_audio" type="voice_collect_node" output="screen">
        <!-- 音频文件目录，专属于 voice_collect 节点 -->
        <param name="audio_file" type="string" value="./AIUI/audio/audio.wav"/>
    </node>
    <!-- 打开语音服务 -->
    <node pkg="robot_audio" type="voice_aiui_node" name="voice_aiui_node"/>

    <!-- 打开底盘相机二维码检测 -->
    <include file="$(find ar_pose)/launch/ar_base_sim.launch"/>

    <!-- 打开相对移动功能（服务端） -->
    <include file="$(find relative_move)/launch/relative_move.launch"/>
    
    <!-- 启动 usb_camera_node 节点 -->
    <node pkg="ros_usb_camera" type="usb_camera_node" name="usb_camera_node" output="screen">
        <!-- 设置相机参数 -->
        <param name="frame_width" value="640" />
        <param name="frame_height" value="480" />
        <param name="frame_rate" value="30" />
        <param name="fourcc" value="MJPG" />
    </node>
    
    <node name="face_rec_service" pkg="face_rec" type="face_rec_service.py" output="screen">
        <!-- 人脸数据库目录 -->
        <param name="face_data" value="$(find face_rec)/face_data/"/>
        <!--识别容差-->
        <param name="tolerance" value="0.6"/>
    </node>
    <!-- 启动火焰检测服务节点 -->
    <node
        name="flame_detector_service"
        pkg="flame_detector"
        type="flame_detector_service.py"
        output="screen"
        respawn="true"
        respawn_delay="10">
    </node>
</launch>
