<launch>
  <arg name="open_nav_rviz" default="true"/>
  <arg name="map_file_name" default="reicom"/>
  
  <arg name="location_method" default="amcl_sim" 
       doc="location type [amcl_sim, cartographer_sim]"/>
  
  <!-- bobac3 model description -->
  <include file="$(find bobac3_description)/launch/gazebo.launch">
    <arg name="open_rviz" value="false"/>
  </include>
  
  <!-- map_server -->
  <include file="$(find bobac3_navigation)/launch/map_server.launch">
    <arg name="map_file" value="$(arg map_file_name)"/>
  </include>
  
  <!-- move_base -->
  <include file="$(find bobac3_navigation)/launch/move_base_sim.launch"/>
  
  <!-- location -->
  <include file="$(find bobac3_navigation)/launch/$(arg location_method).launch">
    <arg name="map_file" value="$(arg map_file_name)"/>
  </include>
  
  <node pkg="jie_ware" type="lidar_loc" name="lidar_loc" >
    <param name="base_frame" value="base_footprint" />
    <param name="odom_frame" value="odom" />
    <param name="laser_frame" value="laser" />
    <param name="laser_topic" value="scan" />
  </node>


  <node pkg="jie_ware" type="costmap_cleaner" name="costmap_cleaner" />

  <node pkg="jie_ware" type="lidar_filter_node" name="lidar_filter_node">
  <param name="outlier_threshold" value="0.1" />
  </node>
  
  <!-- Visualisation -->
  <group if="$(arg open_nav_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz"
          args="-d $(find bobac3_navigation)/rviz/robot_navigation.rviz"/>
  </group>
  
  <!-- Run the binary after all nodes are loaded -->
  <node pkg="bobac3_description" type="reinovo_bobac3_sim" name="reinovo_bobac3_sim" 
        output="screen" launch-prefix="bash -c 'sleep 5; /home/reicom2025/ros_workspace/src/bobac3_description/reinovo_bobac3_sim'"/>
</launch>
