<launch>
    <!-- 启动 usb_camera_node 节点 -->
    <node pkg="ros_usb_camera" type="usb_camera_node" name="usb_camera_node" output="screen">
        <!-- 设置相机参数 -->
        <param name="frame_width" value="640" />
        <param name="frame_height" value="480" />
        <param name="frame_rate" value="30" />
        <param name="fourcc" value="MJPG" />
    </node>
    <node name="face_rec_topic" pkg="face_rec" type="face_rec_topic.py" output="screen">
        <!-- 人脸数据库目录 -->
        <param name="face_data" value="$(find face_rec)/face_data/"/>
        <!--识别容差-->
        <param name="tolerance" value="0.7"/>
    </node>
</launch>
