<?xml version="1.0"?>

<model>
  <name>rei_imaging_sensor_marker</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Liu YuHang</name>
    <email>liuyuhang0531@foxmail.com</email>
  </author>

  <description>
    imaging_sensor_marker
  </description>

</model>
